.body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    font-family: sans-serif;
    display: flex;
    padding: 20px 150px;
}

.header .logo {
    font-size: x-large;
    font-weight: 1000;
    color: #F9FAF8;
    flex: 1;
    font-size: 24px;
}

.header .links {
    font-size: large;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    align-items: center;
}

.link {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.main {
    color: aliceblue;
    background-color: #1F2937;
    display: flex;
    padding: 70px 150px;
}

.mainText {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.mainImage {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    width: 400px;
    height: 220px;
}

.mainText .bigText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.mainText .smallText {
    font-size: 18px;
    color: #E5E7EB;
}

.mainText .button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 800;
    width: 100px;
    padding: 7px 15px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
}

.info {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 150px 70px 150px;
}

.infoTitle {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 35px;
}

.infoContainer {
    display: flex;
    align-items: center;
}

.infoSub {
    flex: 1;
    margin: 0 20px;
}

.infoImage {
    width: 150px;
    height: 150px;   
    border-radius: 10%;
}

.infoText {
    width: 150px;
    text-align: center;
    color: gray;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 350px;
}

.quoteText {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quoteAuthor {
    color: #1F2937;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.message {
    background-color: #F9FAF8;
    padding: 70px 200px;
}

.messageContainer {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    padding: 50px 100px;
}

.messageText {
    color: #F9FAF8;
    flex: 1;
}

.messageContent {
    color: #E5E7EB;
}

.messageTitle {
    font-size: 21px;
}

.messageContainer .button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 800;
    width: 120px;
    padding: 7px 23px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    border-color: #F9FAF8;
    margin-top: 10px;
    margin-right: 80px;
}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 30px 150px;
    text-align: center;
    font-size: 17px;
}