.header {
    background-color: #1F2937;
    font-family: sans-serif;
    display: flex;
    padding: 20px 150px;
}

.header .logo {
    font-size: x-large;
    font-weight: 1000;
    color: #F9FAF8;
    flex: 1;
    font-size: 24px;
}

.header .links {
    font-size: large;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    align-items: center;
}

.link {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.main {
    color: aliceblue;
    background-color: #1F2937;
    display: flex;
    padding: 70px 150px;
}

.mainText {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.mainImage {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    width: 400px;
    height: 220px;
}

.mainText .bigText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.mainText .smallText {
    font-size: 18px;
    color: #E5E7EB;
}

.mainText .button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 800;
    width: 100px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}