.header {
    background-color: #1F2937;
    font-family: sans-serif;
    display: flex;
    padding: 20px 150px;
}

.header .logo {
    font-size: x-large;
    font-weight: 1000;
    color: #F9FAF8;
    flex: 1;
}

.header .links {
    font-size: large;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    align-items: center;
}

.link {
    flex: 1;
    text-align: center;
    font-size: 18px;
}